# dependencies
/node_modules
/jirascope/node_modules

# testing
/jirascope/coverage

# production
/jirascope/build

# misc
/jirascope/.DS_Store
/jirascope/.env.local
/jirascope/.env.development.local
/jirascope/.env.test.local
/jirascope/.env.production.local

/jirascope/npm-debug.log*
/jirascope/yarn-debug.log*
