.b_table {
  display: table;
  width: 100vw;
  margin: 1.5rem;
  margin: 1.5rem auto;
  border-spacing: 0px;
  box-shadow: 0 0 2.3rem #777; }

.b_table__title {
  margin: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 2.3rem #777;
  text-align: center; }

.b_table__row {
  display: table-row;
  transition: all .8s;
  cursor: pointer; }
  .b_table__row:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: all .2s; }
  .b_table__row:nth-of-type(1), .b_table__row:nth-last-of-type(1) {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1); }

.b_table__cell {
  display: table-cell;
  border-top: 1px solid #fff;
  padding: 1.5rem;
  text-align: center; }
  .b_table__cell:nth-of-type(1) {
    text-align: left;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1); }
  .b_table__cell:nth-of-type(2) {
    text-align: left;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    border-right: 1px solid #fff; }
  .b_table__cell--red {
    font-size: calc(1rem + 1.2rem);
    padding: 0.3rem 1.5rem;
    background: rgba(255, 0, 0, 0.4);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; }
