$spacing: .8rem;

.filter {
    display: inline-block;
    margin: $spacing;
}
.filter__unit {
    display: inline-block;
    margin: 0 $spacing;
}

.filter__update {
    display: inline-block;
}

.filter__title {
    display: inline-block;
}

.filter__checkbox {
    margin-left: $spacing;
}