.filter {
  display: table;
  margin: 1.6rem auto; }

.filter__unit {
  display: inline-block;
  margin: 0 0.8rem; }

.filter__update {
  display: inline-block; }

.filter__title {
  display: inline-block; }

.filter__group {
  display: inline-block;
  width: 65px; }

.filter__checkbox {
  margin-left: 0.8rem; }
