$border: 1px solid #fff;
$fontIncrement: .5rem;
$shadow: 0 0 2.3rem #777;
$spacing: .8rem;

.b_table {
    border: 10px solid #fff;
    border-spacing: 0px;
    box-shadow: $shadow;
    display: table;
    margin: $spacing*2 auto;
    overflow: hidden;
}

.b_table__title {
    margin: $spacing;
    text: {
        align: left;
        shadow: $shadow;
        transform: uppercase;
    }
}

.b_table__row {
    cursor: pointer;
    display: table-row;
    transition: all .8s;
    &:hover {
        background: rgba(0, 0, 0, .4);
        transition: all .2s;
    }
    &:nth-of-type(1),
    .b_table--projects &:nth-last-of-type(1) {
        font-weight: bold;
        background: rgba(0, 0, 0, .4);
    }
}

.b_table__cell {
    border-top: $border;
    display: table-cell;
    // font-size: .9rem;
    padding: $spacing;
    position: relative;
    text-align: center;
    &--red {
        background: rgba(255, 0, 0, .4);
        border: {
            left: $border;
            right: $border;
        }
    }
    &--zero {
        color: rgba(255,255,255,.3);
    }
    &:nth-of-type(1) {
        background: rgba(0, 0, 0, .1);
        font-weight: bold;
        text-align: left;
        .b_table--assignees & {
            border-right: $border;
        }
    }
    .b_table--projects &:nth-of-type(2) {
        background: rgba(0, 0, 0, .1);
        border-right: $border;
        font-weight: bold;
        text-align: left;
    }
    &:hover:before {
        background: rgba(0, 0, 0, .2);
        border: $border;
        content: '';
        display: block;
        left: -1px;
        height: 400vh;
        position: absolute;
        top: -200vh;
        width: calc(100% + 1px);
        z-index: -1;
    }
}