$border: 1px solid #fff;
$fontIncrement: 1.2rem;
$shadow: 0 0 2.3rem #777;
$spacing: .8rem;

.b_table {
    border-spacing: 0px;
    box-shadow: $shadow;
    display: table;
    margin-bottom: $spacing*2;
    width: 100vw;
}

.b_table__title {
    margin: $spacing;
    text: {
        align: left;
        shadow: $shadow;
        transform: uppercase;
    }
}

.b_table__row {
    cursor: pointer;
    display: table-row;
    transition: all .8s;
    &:hover {
        background: rgba(0, 0, 0, .4);
        transition: all .2s;
    }
    &:nth-of-type(1),
    &:nth-last-of-type(1) {
        font-weight: bold;
        background: rgba(0, 0, 0, .4);
    }
}

.b_table__cell {
    border-top: $border;
    display: table-cell;
    padding: $spacing;
    text-align: center;
    &:nth-of-type(1) {
        background: rgba(0, 0, 0, .1);
        font-weight: bold;
        text-align: left;
    }
    &:nth-of-type(2) {
        background: rgba(0, 0, 0, .1);
        border-right: $border;
        font-weight: bold;
        text-align: left;
    }
    &--red {
        background: rgba(255, 0, 0, .4);
        border: {
            left: $border;
            right: $border;
        }
        font-size: calc(1rem + #{$fontIncrement});
        padding: ($spacing - $fontIncrement) $spacing;
    }
}