.loader {
    margin-bottom: .8rem;
}

.loader__title {
    display: inline-block;
    width: 65px;
}

.loader__time {
    display: inline-block;
    margin: 0 .8rem;
    &--update-start {
        animation: update-start .8s;
    }
    &--update-end {
        animation: update-end .8s;
    }
}

@keyframes update-start {
    0% {
        color: rgba(255,0,0,.4);
        transform: scale(1.15);
    }
    100% {
        color: rgba(255,255,255,1);
        transform: scale(1);        
    }
}
@keyframes update-end {
    0% {
        color: rgba(255,0,0,.4);
        transform: scale(1.15);
    }
    100% {
        color: rgba(255,255,255,1);
        transform: scale(1);        
    }
}