.loader {
    margin-bottom: .8rem;
}

.loader__title {
    display: inline-block;
    width: 65px;
}

.loader__time {
    display: inline-block;
    margin: 0 .8rem;
    position: relative;
    &--update-start {
        &:before {
            animation: loading-start linear 4.5s;
        }
    }
    &--update-end {
        &:before {
            animation: loading-end linear 4.5s;
        }
    }
    &:before {
        background: #fff;
        bottom: -1px;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
    }
}

@mixin animate($name) {
    @keyframes loading-#{$name} {
        0% {
            width: 0%;
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            width: 100%;
            opacity: 0;
        }
    }
}

@include animate('start');
@include animate('end');