.loader {
  margin-bottom: .8rem; }

.loader__title {
  display: inline-block;
  width: 65px; }

.loader__time {
  display: inline-block;
  margin: 0 .8rem;
  position: relative; }
  .loader__time--update-start:before {
    animation: loading-start linear 4.5s; }
  .loader__time--update-end:before {
    animation: loading-end linear 4.5s; }
  .loader__time:before {
    background: #fff;
    bottom: -1px;
    content: '';
    display: block;
    height: 1px;
    position: absolute; }

@keyframes loading-start {
  0% {
    width: 0%;
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 0; } }

@keyframes loading-end {
  0% {
    width: 0%;
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 0; } }
